<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="car" class ="model.Car">
<constructor-arg>
	<value>K5</value>
</constructor-arg>
</bean>
<bean id="friend" class="model.Friend">
<constructor-arg>
	<value>아이유</value>
</constructor-arg>
<constructor-arg>
	<value>22</value>
</constructor-arg>
</bean>

<bean id="owner" class="model.Owner">
<constructor-arg>
	<value>시용태</value>
</constructor-arg>
</bean>
</beans>
