<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="service" class=""


<bean id="dao" class="jdbcTest.DaoImpl">
	<constructor-arg>
		<ref bean="dataSource" />
	</constructor-arg>
</bean>

<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="url">
			<value>jdbc:oracle:thin:@localhost:1521:orcl</value>
		</property>
		<property name="username">
			<value>kitri</value>
		</property>
		<property name="password">
			<value>kitri</value>
		</property>
	</bean>
	</beans>